/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
/* Global styling */
html,
body {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: black;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
textarea,
select {
  all: unset;
  appearance: none; /*Removes custom OS styling*/
  background: #fdfdfd;
  border: none;
  padding: 0.5rem;
  font-family: inherit;
  color: inherit;
  background-color: #fdfdfd;
  resize: none; /* for textarea */
}
.dark select,
.dark textarea {
  background-color: #242424;
}

img {
  width: 100%;
  height: auto;
}
/* Global input style */
input {
  padding: 5px 10px;
}
/* Utility classes */

.background {
  background-color: #fcfcfc;
  transition: background-color 600ms ease-in-out;
}
.foreground {
  color: #171717;
  transition: color 600ms ease-in-out;
}
.primary {
  background-color: #72e3ad;
  transition: background-color 600ms ease-in-out;
}
.primary-foreground {
  color: #1e2723;
  transition: color 600ms ease-in-out;
}
.secondary {
  background-color: #fdfdfd;
  transition: background-color 600ms ease-in-out;
}
.border {
  border: 1px solid #dfdfdf;
  transition: 600ms ease-in-out;
}
.muted {
  background-color: #ededed;
  transition: background-color 600ms ease-in-out;
}
.btn {
  padding: 10px 15px;
  font-weight: 600;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
/* Utility classes for dark mode */
.dark .background {
  background-color: #171717;
}
.dark .foreground {
  color: #e2e8f0;
}
.dark .primary {
  background-color: #006239;
}
.dark .primary-foreground {
  color: #dde8e3;
}
.dark .secondary {
  background-color: #242424;
}
.dark .border {
  border: 1px solid #292929;
}
.dark .muted {
  background-color: #1f1f1f;
}
.dark input {
  background-color: #242424;
}
/* Logo styling*/
.logo {
  width: 50px;
}
/* Navbar styling */
nav {
  padding: 20px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.menu .btn {
  padding: 5px 10px;
  margin: 0 5px;
}
/* Mobile menu */
.mobile-menu {
  display: none;
}
/* Global Theme Toggler */
.theme-toggler {
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 50%;
}

main {
  padding: 20px;
  height: 100vh;
}
.featured-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
}
.featured-container h3 {
  font-size: 1.8rem;
}
.featured-container p {
  font-size: 1.1rem;
}
.search-field-container input {
  margin: 5px;
  padding: 10px 15px;
}
/* Showcase for upcoming events */
.event-showcase-section {
  margin: 20px 0;
}
/* First heading in event showcase section */
.event-showcase-section h1 {
  margin-bottom: 3rem;
  font-size: 1.8rem;
}
.event-showcase-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr); /*Sets 3 grids per row at even widths*/
  gap: 2rem;
}
/* Grid item for event-showcase container */
.showcase-container {
  height: 250px;
  padding: 10px;
}
.showcase-img-container {
  background-color: gray;
  height: 60%;
}
.showcase-description-container {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  padding: 10px;
}

.showcase-title {
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: -1px;
}
.showcase-details {
  font-size: 0.9rem;
}
.showcase-description-container .btn {
  padding: 5px 15px;
}
footer {
  padding: 10px;
}
/* Custom styling for create.html */
/* class for selection field for ticket options */
.ticket-options {
  width: 100%;
}
.ticket-options select {
  margin: 5px 0;
}
label.upload-field {
  width: 50%;
}
.ticket-options button {
  padding: 10px 25px;
  margin: 0 10px;
}
@media (max-width: 576px) {
  .featured-container {
    flex-direction: column;
    gap: 2rem;
    padding: 30px 10px;
    align-items: flex-start;
  }
  .event-showcase-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .menu {
    display: none;
  }
  .mobile-menu {
    display: flex;
  }
  .menu-icon {
    width: 30px;
  }
  #create.mobile-menu .container {
    height: 10rem;
  }
  .mobile-menu .container input {
    padding: 10px 15px;
    width: 100%;
  }
  .mobile-menu .container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 15px;
    gap: 10px;
    /* background-color: #1f1f1f; */
    position: absolute;
    box-shadow: 3px 4px 4px gray;
    top: 5rem;
    right: 0;
    height: 15rem;
    width: 80%;
  }
  .mobile-menu .container .btn {
    padding: 5px 15px;
  }
  .dark .container {
    box-shadow: 3px 4px 4px #1f1f1f;
  }
  .close-icon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .close-icon img {
    width: 30px;
  }
  .search-field-container {
    flex-wrap: wrap;
  }
}
