* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
  height: auto;
}
/* Utility classes */

.background {
  background-color: #fcfcfc;
  transition: background-color 600ms ease-in-out;
}
.foreground {
  color: #171717;
  transition: color 600ms ease-in-out;
}
.primary {
  background-color: #72e3ad;
  transition: background-color 600ms ease-in-out;
}
.primary-foreground {
  color: #1e2723;
  transition: color 600ms ease-in-out;
}
.secondary {
  background-color: #fdfdfd;
  transition: background-color 600ms ease-in-out;
}
.border {
  border: 1px solid #dfdfdf;
  transition: 600ms ease-in-out;
}
.muted {
  background-color: #ededed;
  transition: background-color 600ms ease-in-out;
}
.btn {
  padding: 10px 15px;
  font-weight: 600;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
/* Utility classes for dark mode */
.dark .background {
  background-color: #171717;
}
.dark .foreground {
  color: #e2e8f0;
}
.dark .primary {
  background-color: #006239;
}
.dark .primary-foreground {
  color: #dde8e3;
}
.dark .secondary {
  background-color: #242424;
}
.dark .border {
  border: 1px solid #292929;
}
.dark .muted {
  background-color: #1f1f1f;
}
.dark input {
  background-color: #242424;
}
/* Logo styling*/
.logo {
  width: 50px;
}
/* Navbar styling */
nav {
  padding: 20px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
button#logout {
  padding: 10px 20px;
  font-weight: 600;
  font-size: 1rem;
}

.ticket-body {
  height: 100%;
  padding: 20px;
}
/* Global Theme Toggler */
.theme-toggler {
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 50%;
}
.menu {
  display: flex;
}
/* Main Body Styling */
.event-title {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: -1px;
}
.divider {
  margin: 1.7rem 0;
  width: 400px;
  border-radius: 10px;
  height: 4px;
}
.confirm-span {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.ticket-footer {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
