{% extends "base.html" %}

{% block title %}
Planora — Event Management System
{%endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}" />
{% endblock %}

{%block body%}
<nav class="secondary">
    <div class="logo">
        <img src="{{url_for('static', filename='images/planora.png')}}" alt="">
    </div>
    <div class="menu">
        <div class="theme-toggler border">
            <img src="{{url_for('static', filename='images/icons/moon-stars-svgrepo-com.svg')}}" alt="">
        </div>
        <div class="container">
            <a href="#" class="btn primary primary-foreground border">Login</a>
            <a href="#" class="btn secondary border foreground">Sign Up</a>
        </div>
    </div>
    <!-- Mobile Menu -->
    <div class="mobile-menu" id="create">
        <div class="theme-toggler border">
            <img src="{{url_for('static', filename='images/icons/moon-stars-svgrepo-com.svg')}}" alt="">
        </div>
        <!-- Hamburger icon -->
        <div class="menu-icon">
            <img src="{{url_for('static', filename='images/icons/menu-dark.svg')}}" alt="">
        </div>
        <div class="container background">
            <!-- Close icon -->
            <div class="close-icon">
                <img src="{{url_for('static', filename='images/icons/close-dark.svg')}}" alt="">
            </div>
            <a href="#" class="btn primary primary-foreground border">Login</a>
            <a href="#" class="btn secondary border foreground">Sign Up</a>
        </div>
    </div>
</nav>
<main class="background">
    <h1 class="foreground">Music Concert</h1>
    <section class="flex flex-wrap hero secondary">
        <div class="hero-img-container">
            <img src="" alt="">
        </div>
        <!-- Event details container -->
        <div class="event-details flex border column secondary">
            <p class="foreground">🗓️ Date: Aug 5</p>
            <p class="foreground">📍 Location: Main Hall</p>
            <p class="foreground">👥 Attendees: 120</p>
        </div>
    </section>
    <h1 class="foreground">Event Description</h1>
    <div id="event-description" class="secondary">
        <textarea class="border foreground event-description"
            placeholder="This music concert brings together..."></textarea>
    </div>
    <h1 class="foreground">Ticket Options</h1>
    <section id="ticket-options" class="secondary">
        <div class="flex flex-wrap">
            <div class="border">
                <p class="foreground">💵 General Admission - $20</p>
                <button class="btn border primary primary-foreground">
                    Buy
                </button>
            </div>
            <div class="border">
                <p class="foreground">💵 VIP Ticket - $50</p>
                <button class=" btn border primary primary-foreground">
                    Buy
                </button>
            </div>

        </div>
    </section>
</main>
<footer class="secondary">
    <p class="foreground">&copy;2025 Planora-All Rights Reserved</p>
</footer>
<script>
    const urls = {
        sun: "{{ url_for('static', filename='images/icons/sun-svgrepo-com.svg') }}",
        moon: "{{ url_for('static', filename='images/icons/moon-stars-svgrepo-com.svg') }}",
        closeDark: "{{ url_for('static', filename='images/icons/close-dark.svg') }}",
        closeLight: "{{ url_for('static', filename='images/icons/close-light.svg') }}",
        menuDark: "{{ url_for('static', filename='images/icons/menu-dark.svg') }}",
        menuLight: "{{ url_for('static', filename='images/icons/menu-light.svg') }}"
    };
</script>
<script src="{{url_for('static', filename ='/js/index.js')}}"></script>{%endblock%}
