{% extends "base.html" %}

{% block title %}
Planora — Event Management System
{%endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}" />
{% endblock %}

{%block body%}

    <nav class="secondary">
        <!-- Product Logo -->
        <div class="logo">
            <img src="{{url_for( 'static', filename='images/planora.png')}}" alt="">
        </div>
        <!-- Desktop Menu -->
        <div class="menu">
            <div class="theme-toggler border">
                <img src="{{url_for('static', filename='images/icons/moon-stars-svgrepo-com.svg')}}" alt="">
            </div>
            <div class="container">
                <input type="text" class="border foreground" placeholder="Search">
                <a href="#" class="btn primary primary-foreground border">Login</a>
                <a href="#" class="btn secondary border foreground">Sign Up</a>
            </div>
        </div>
        <!-- Mobile Menu -->
        <div class="mobile-menu">
            <div class="theme-toggler border">
                <img src="{{url_for('static', filename='images/icons/moon-stars-svgrepo-com.svg')}}" alt="">
            </div>
            <!-- Hamburger icon -->
            <div class="menu-icon">
                <img src="{{url_for('static', filename='images/icons/menu-dark.svg')}}" alt="">
            </div>
            <div class="container background">
                <!-- Close icon -->
                <div class="close-icon">
                    <img src="{{url_for('static', filename='images/icons/close-dark.svg')}}" alt="">
                </div>
                <input type="text" class="border foreground" placeholder="Search">
                <a href="#" class="btn primary primary-foreground border">Login</a>
                <a href="#" class="btn secondary border foreground">Sign Up</a>
            </div>
        </div>
    </nav>
    <main class="background">
        <div class="featured-container secondary">
            <div>
                <h3 class="foreground">🎉 Featured: Big Summer Festival</h3>
                <p class="foreground">August 30 | City Center</p>
            </div>
            <div>
                <a href="" class="btn primary primary-foreground border">Learn More</a>
            </div>
        </div>
        <!-- Search Field  -->
        <div class="search-field-container">
            <input class="border foreground" type="text" placeholder="Search by title">
            <input type="text" class="border foreground" placeholder="Location">
            <input type="date" class="border foreground">
            <input type="text" class="border foreground" placeholder="Search">
        </div>
        <section class="event-showcase-section foreground">
            <h1>Upcoming Events</h1>
            <!-- Event showcase -->
            <div class="event-showcase-container">
                <!-- Box 1 -->
                <div class="showcase-container secondary border">
                    <div class="showcase-img-container">
                        <img src="" alt="music concert">
                    </div>
                    <div class="showcase-description-container">
                        <div>
                            <p class="showcase-title">Music Concert
                            </p>
                            <p class="showcase-details">Aug 5 | Music Hall</p>
                        </div>
                        <a class="btn primary primary-foreground">Register</a>
                    </div>
                </div>
                <!-- Box 2 -->
                <div class="showcase-container secondary border">
                    <div class="showcase-img-container">
                        <img src="" alt="tech mockup">
                    </div>
                    <div class="showcase-description-container">
                        <div>
                            <p class="showcase-title">Tech Mockup
                            </p>
                            <p class="showcase-details">Aug 10 | City Park</p>
                        </div>
                        <a class="btn primary primary-foreground">Register</a>
                    </div>
                </div>
                <!-- Box 3 -->
                <div class="showcase-container secondary border">
                    <div class="showcase-img-container">
                        <img src="" alt="Art Festival">
                    </div>
                    <div class="showcase-description-container">
                        <div>
                            <p class="showcase-title">Art Festival
                            </p>
                            <p class="showcase-details">Aug 15 | Auditorium </p>
                        </div>
                        <a class="btn primary primary-foreground">Register</a>
                    </div>
                </div>
                <!-- Box 4 -->
                <div class="showcase-container secondary border">
                    <div class="showcase-img-container">
                        <img src="" alt="Book Fair">
                    </div>
                    <div class="showcase-description-container">
                        <div>
                            <p class="showcase-title">Book Fair
                            </p>
                            <p class="showcase-details">Aug 18 | Library</p>
                        </div>
                        <a class="btn primary primary-foreground">Register</a>
                    </div>
                </div>
                <!-- Box 5 -->
                <div class="showcase-container secondary border">
                    <div class="showcase-img-container">
                        <img src="" alt="Startup Pitch">
                    </div>
                    <div class="showcase-description-container">
                        <div>
                            <p class="showcase-title">Startup Pitch
                            </p>
                            <p class="showcase-details">Aug 20 | Co-working</p>
                        </div>
                        <a class="btn primary primary-foreground">Register</a>
                    </div>
                </div>
                <!-- Box 6 -->
                <div class="showcase-container secondary border">
                    <div class="showcase-img-container">
                        <img src="" alt="Charity gala">
                    </div>
                    <div class="showcase-description-container">
                        <div>
                            <p class="showcase-title ">Charity Gala
                            </p>
                            <p class="showcase-details">Aug 25 | Hotel</p>
                        </div>
                        <a class="btn primary primary-foreground">Register</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="secondary">
        <p class="foreground">&copy;2025 Planora-All Rights Reserved</p>
    </footer>
    <script>
  const urls = {
    sun: "{{ url_for('static', filename='images/icons/sun-svgrepo-com.svg') }}",
    moon: "{{ url_for('static', filename='images/icons/moon-stars-svgrepo-com.svg') }}",
    closeDark: "{{ url_for('static', filename='images/icons/close-dark.svg') }}",
    closeLight: "{{ url_for('static', filename='images/icons/close-light.svg') }}",
    menuDark: "{{ url_for('static', filename='images/icons/menu-dark.svg') }}",
    menuLight: "{{ url_for('static', filename='images/icons/menu-light.svg') }}"
  };
</script>
    <script src="{{url_for('static', filename ='/js/index.js')}}"></script>
{%endblock%}
