{% extends "base2.html" %}

{% block title %}
Planora - Event Management System
{% endblock %}

{% block body %}
{% if events %}
<div class="bg-secondary p-4 rounded-md grid grid-cols-1 md:flex justify-between items-center gap-y-4">
    <div class="space-y-2">
        <!-- FIXME EXTRCT FROM TEMPLATE -->
        <h2 class="md:text-2xl font-bold line-clamp-1">
            🎉 Featured: {{ events[0].title }}
        </h2>
        <p class="foreground">{{ events[0].date }} | {{ events[0].location }}</p>
    </div>
    <!-- FIXME PROPER URL -->
    <a href="/events/{{ events[0].id }}" class="btn primary">View Event</a>
</div>

<!-- FIXME ONLY RENDER IF NEW EVENTS -->
<section class="space-y-4">
    <h2 class="text-2xl font-bold">Upcoming Events</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
        {% for event in events[0:] %}
        <!-- FIXME BACKGROUND IMAGE -->
        <a href="/events/{{ event.id }}" class="bg-secondary space-y-4 p-4">
            <div class="w-full //md:max-w-[200px] h-[180px] md:h-[140px] rounded-sm bg-center bg-no-repeat [box-shadow:0_4px_8px_rgba(0,0,0,0.1)] shrink-0 bg-cover"
                style="background-image: url('{{ event.image_url }}')">
            </div>
            <div class="flex flex-col sm:flex-row gap-y-3 sm:items-end justify-between">
                <div class="space-y-1">
                    <!-- FIXME -->
                    <h3 class="font-semibold text-xl">{{ event.title }}</h3>
                    <p>{{ event.date }} | {{ event.location }}</p>
                </div>
                <button class="btn primary w-full sm:w-auto">View</button>
            </div>
        </a>
        {% endfor %}
    </div>
</section>
{% endif %}
{% endblock %}