{% extends "base.html" %}

{% block title %}
Planora — Event Management System
{%endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/ticket.css')}}" />
{% endblock %}

{%block body%}
<nav class="secondary">
    <div class="logo">
        <img src="{{url_for('static', filename='images/planora.png')}}" alt="">
    </div>
    <div class="menu">
        <div class="theme-toggler border">
            <img src="{{url_for('static', filename='images/icons/moon-stars-svgrepo-com.svg')}}" alt="">
        </div>
        <div class="container">
            <button class="border primary primary-foreground" id="logout">Log Out</button>
        </div>
    </div>
</nav>
<!-- Main Ticket Body -->
<main class="ticket-body background">
    <h1 class="primary-foreground">Event Ticket</h1>
    <p class="review foreground">Review your ticket</p>
    <div class="divider primary"></div>
    <h1 class="event-title foreground">TECH MEETUP</h1>
    <p class="foreground">Date: Aug 15</p>
    <p class="foreground">Location: Main Hall</p>

    <div class="divider primary"></div>
    <p class="ticket-id foreground"><strong>🎟️ Ticket ID: </strong>#ABC123</p>
    <p class="foreground"> <strong>👤 Name:</strong> Davies Enienghan</p>
    <p class="foreground"><strong>📍 Seat:</strong> A12</p>
    <div class="divider primary"></div>
    <span class="foreground confirm-span border">Confirmed</span>
    <div class="divider primary"></div>


    <div class="ticket-footer flex secondary">
        <p style="font-size: 0.9rem;" class="foreground">Show this at the gate</p>
        <button class="btn primary border primary-foreground"> More Events</button>
    </div>
</main>
<script>
    const urls = {
        sun: "{{ url_for('static', filename='images/icons/sun-svgrepo-com.svg') }}",
        moon: "{{ url_for('static', filename='images/icons/moon-stars-svgrepo-com.svg') }}",
        closeDark: "{{ url_for('static', filename='images/icons/close-dark.svg') }}",
        closeLight: "{{ url_for('static', filename='images/icons/close-light.svg') }}",
        menuDark: "{{ url_for('static', filename='images/icons/menu-dark.svg') }}",
        menuLight: "{{ url_for('static', filename='images/icons/menu-light.svg') }}"
    };
</script>
<script src="{{url_for('static', filename ='/js/index.js')}}"></script>

{%endblock%}